{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="chat-wrapper green-shadow">
        <div class="col-8">
          <p class="bubble text-left">
            Bienvenue mon petit, tu peux me demander l'addresse de lieux, je te raconterai une histoire !
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <form method="POST" action="{{ url_for('query') }}" id="query-form">
      <div class="row">
        <input class="green-shadow" id="query" name="query" type="text" placeholder="Posez moi une question...">
      </div>
      <div class="row">
        <input class="green-shadow" type="submit" value="Demander">
      </div>
    </form>
  </div>
{% endblock %}

{% block ajax %}
<script type="text/javascript">
  function sleep(milliseconds) {
    var start = new Date().getTime();
      for (var i = 0; i < 1e7; i++) { if ((new Date().getTime() - start)> milliseconds){
        break;
      }
    }
  }


  $(document).ready(function() {
    $('#query-form').submit(function(event) {
      event.preventDefault();
      $.ajax({
        url: '/query',
        type: 'POST',
        data: {'query': $('#query').val()},
        success: function(data) {
          query = data.query;
          answer = data.answer;
          bubble_left = '<div class="col-8"><p class="bubble text-left">';
          bubble_justify = '<div class="col-8"><p class="bubble text-justify">';
          bubble_center = '<div class="col-6"><p class="bubble text-center">';
          closing_tag = '</p></div>';
          $('.chat-wrapper').append('<div class="offset-8"><p class="bubble blue text-right">' + query + closing_tag);
          if (answer.error) {
            if (answer.address) {
              $('.chat-wrapper').append(bubble_left + answer.address + closing_tag);
            }
            $('.chat-wrapper').append(bubble_left + answer.error + closing_tag);
          }
          else {
            $('.chat-wrapper').append(bubble_left + answer.address + closing_tag);
            $('.chat-wrapper').append(bubble_left + answer.random + closing_tag);
            $('.chat-wrapper').append(bubble_justify + answer.wiki + closing_tag);
            $('.chat-wrapper').append(bubble_left + answer.link + closing_tag);
            $('.chat-wrapper').append(bubble_center + answer.map + closing_tag);
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>
{% endblock %}
