{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="chat-wrapper green-shadow">
      </div>
    </div>
  </div>
  <div class="container">
    <form method="POST" action="{{ url_for('query') }}" id="query-form">
      <div class="row">
        <input class="green-shadow" id="query" name="query" type="text" placeholder="Posez moi une question...">
      </div>
      <div class="row">
        <input class="green-shadow" type="submit" value="Demander">
      </div>
    </form>
  </div>
{% endblock %}

{% block ajax %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#query-form').submit(function(event) {
      event.preventDefault();
      $.ajax({
        url: '/query',
        type: 'POST',
        data: {'query': $('#query').val()},
        success: function(data) {
          query = data.query;
          answer = data.answer;
          $('.chat-wrapper').append('<p class="text-right">' + query + '</p>');
          if (answer.error) {
            if (answer.address) {
              $('.chat-wrapper').append('<p>' + answer.address + '</p>');
            }
            $('.chat-wrapper').append('<p>' + answer.error + '</p>');
          }
          else {
            $('.chat-wrapper').append('<p class="text-right">' + answer.address + answer.random + answer.wiki + '<br />' + answer.map + '</p>');
            // $('.chat-wrapper').append('<p class="text-right">' + answer.random + '</p>');
            // $('.chat-wrapper').append('<p class="text-right">' + answer.wiki + '</p>');
            // $('.chat-wrapper').append('<p class="text-right">' + answer.map + '</p>');
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>
{% endblock %}
